<div class="form-container">
    <h2>Formulario de Editar de Paciente</h2>
    <form (submit)="submitForm()">
      <div class="form-group">
        <label for="dpi">DPI:</label>
        <input type="number" id="dpi" name="dpi" [(ngModel)]="paciente.dpi" required>
      </div>
      <div class="form-group">
        <label for="nombres">Nombres:</label>
        <input type="text" id="nombres" name="nombres" [(ngModel)]="paciente.nombres" required>
      </div>
      <div class="form-group">
        <label for="apellidos">Apellidos:</label>
        <input type="text" id="apellidos" name="apellidos" [(ngModel)]="paciente.apellidos" required>
      </div>
      <div class="form-group">
        <label for="fechaNacimiento">Fecha de Nacimiento:</label>
        <input type="date" id="fechaNacimiento" name="fechaNacimiento" [(ngModel)]="paciente.fecha_nacimiento" required>
      </div>
      <div class="form-group">
        <label for="direccion">Dirección:</label>
        <input type="text" id="direccion" name="direccion" [(ngModel)]="paciente.direccion" required>
      </div>
      <div class="form-group">
        <label for="tipo_documento">Municipio:</label>
        <select name="tipoDocumento" id="tipoDocumento" [(ngModel)]="paciente.municipio" required class="form-select">
          <option value="1">Guatemala</option>
          <option value="2">Mixco</option>
          <option value="3">Villa Nueva</option>
        </select>
      </div>
      <div class="form-group">
        <label for="telefono">Número de Teléfono:</label>
        <input type="number" id="telefono" name="telefono" [(ngModel)]="paciente.numero_telefono" required>
      </div>
      <div class="form-group">
        <label for="correo">Correo Electrónico:</label>
        <input type="email" id="correo" name="correo" [(ngModel)]="paciente.correo" required>
      </div>
      <div class="form-group">
        <label for="tipo_documento">Tipo Documento:</label>
        <select name="tipoDocumento" id="tipoDocumento" [(ngModel)]="paciente.tipo_documento" required class="form-select">
          <option value="1">Licencia</option>
          <option value="2">DPI</option>
          <option value="3">Pasaporte</option>
        </select>
      </div>
      <div class="form-group">
        <label for="tipo_documento">Genero:</label>
        <select name="tipoDocumento" id="tipoDocumento" [(ngModel)]="paciente.genero" required class="form-select" >
          <option value="1">Masculino</option>
          <option value="2">Femenino</option>
        </select>
      </div>
      <div class="form-group">
        <label for="tipo_documento">Tipo Paciente:</label>
        <select name="tipoDocumento" id="tipoDocumento" [(ngModel)]="paciente.tipo_paciente" required class="form-select">
          <option value="1">VIP</option>
          <option value="2">Estandar</option>
        </select>
      </div>
      <button type="submit">Registrar Paciente</button>
    </form>
  </div>
  