<div class="form-container">
    <h2>Formulario de Registro de Paciente</h2>
    <form (submit)="submitForm()">
      <div class="form-group">
        <label for="dpi">DPI:</label>
        <input type="number" id="dpi" name="dpi" [(ngModel)]="paciente.dpi" required>
      </div>
      <div class="form-group">
        <label for="nombres">Nombres:</label>
        <input type="text" id="nombres" name="nombres" [(ngModel)]="paciente.nombres" required>
      </div>
      <div class="form-group">
        <label for="apellidos">Apellidos:</label>
        <input type="text" id="apellidos" name="apellidos" [(ngModel)]="paciente.apellidos" required>
      </div>
      <div class="form-group">
        <label for="fechaNacimiento">Fecha de Nacimiento:</label>
        <input type="date" id="fechaNacimiento" name="fechaNacimiento" [(ngModel)]="paciente.fecha_nacimiento" required>
      </div>
      <div class="form-group">
        <label for="direccion">Dirección:</label>
        <input type="text" id="direccion" name="direccion" [(ngModel)]="paciente.direccion" required>
      </div>
      <div class="form-group">
        <label for="tipo_documento">Municipio:</label>
        <select name="tipoDocumento" id="tipoDocumento" [(ngModel)]="paciente.municipio.id" required class="form-select">
          <option [value]="1" [selected]="paciente.municipio.id === 1">Guatemala</option>
          <option [value]="2" [selected]="paciente.municipio.id === 2">Mixco</option>
          <option [value]="3" [selected]="paciente.municipio.id === 3">Villa Nueva</option>
        </select>
      </div>
      <div class="form-group">
        <label for="telefono">Número de Teléfono:</label>
        <input type="number" id="telefono" name="telefono" [(ngModel)]="paciente.numero_telefono" required>
      </div>
      <div class="form-group">
        <label for="correo">Correo Electrónico:</label>
        <input type="email" id="correo" name="correo" [(ngModel)]="paciente.correo" required>
      </div>
      <div class="form-group">
        <label for="tipo_documento">Tipo de Documento:</label>
        <select name="tipoDocumento" id="tipoDocumento" [(ngModel)]="paciente.tipoDocumento.id" required class="form-select">
          <option [value]="1" [selected]="paciente.tipoDocumento.id === 1">Licencia</option>
          <option [value]="2" [selected]="paciente.tipoDocumento.id === 2">DPI</option>
          <option [value]="3" [selected]="paciente.tipoDocumento.id === 3">Pasaporte</option>
        </select>
      </div>      
      <div class="form-group">
        <label for="tipo_genero">Género:</label>
        <select name="tipoGenero" id="tipoGenero" [(ngModel)]="paciente.genero.id" required class="form-select">
          <option [value]="1" [selected]="paciente.genero.id === 1">Masculino</option>
          <option [value]="2" [selected]="paciente.genero.id === 2">Femenino</option>
        </select>
      </div>      
      <div class="form-group">
        <label for="tipo_paciente">Tipo de Paciente:</label>
        <select name="tipoPaciente" id="tipoPaciente" [(ngModel)]="paciente.tipopaciente.id" required class="form-select">
          <option [value]="1" [selected]="paciente.tipopaciente.id === 1">VIP</option>
          <option [value]="2" [selected]="paciente.tipopaciente.id === 2">Estandar</option>
        </select>
      </div>      
      <button type="submit">Registrar Paciente</button>
    </form>
  </div>
  