/* styles.css */

.custom-button {
    background-color: #007BFF; /* Cambia el color de fondo a tu preferencia */
    color: white; /* Cambia el color del texto a tu preferencia */
    padding: 10px 20px; /* Ajusta el espaciado interior del botón */
    border: none; /* Elimina el borde del botón */
    border-radius: 5px; /* Agrega esquinas redondeadas al botón */
    cursor: pointer; /* Cambia el cursor al estilo de puntero al pasar el ratón sobre el botón */
    font-size: 16px; /* Cambia el tamaño de fuente a tu preferencia */
    margin: 5px; /* Ajusta el margen alrededor del botón */
  }
  
  .custom-button:hover {
    background-color: #0056b3; /* Cambia el color de fondo al pasar el ratón sobre el botón */
  }
  